.pulse{
  animation: pulse 0.5s ease-in-out infinite alternate;
}
.shake {
  animation: shake 0.1s;
}
.grow{
  animation: grow 0.1s alternate;
}
@keyframes pulse {
    from { transform: scale(0.9); } to { transform: scale(1); }
}
@keyframes grow {
    from { transform: scale(1); } to { transform: scale(1.3); }
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
@keyframes overlayTransition{
    from{opacity: 1;}
    to{ opacity: 0;}
}
@keyframes actionLoading{
    from{height: 0%;}
    to{height: 100%;}
}

