body{
    overflow: hidden;
    position: relative;
    font-family: 'Anaheim';
}
#background{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
h1,h2,h3,h4,h5,#eqpPreviewName{
    font-family: 'MedievalSharp', cursive;
    font-style: normal;
    color: white;
}
.offcanvas-header, .offcanvas-body{
    position: relative;
    z-index: 1050;
}
.section-container, .npc-portrait{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    text-shadow: 1px 1px black;
}
.section-container{
    padding: 10px;
    box-shadow: 0px 0px 90px 20px inset rgba(0,0,0, 1);
    transition: all 0.2s;
}
.section-container.hidden{
    padding: 0;
    border: none;
    height: 0;
}
#background.soul{background-image: url("../img/Backgrounds/soul.webp");}
#background.town{background-image: url("../img/Backgrounds/town.webp");}
#background.shop{background-image: url("../img/NPCs/Town/merchant.webp");}
#background.forge{background-image: url("../img/NPCs/Town/blacksmith.webp");}
#background.tower{background-image: url("../img/NPCs/Town/enchantress.webp");}
#background.runes{background-image: url("../img/NPCs/Town/runemaster.webp");}
#background.auras{background-image: url("../img/NPCs/Town/auramaster.webp");}
#background.death{background-image: url("../img/Backgrounds/death.webp");}
#background.storage{background-image: url("../img/Backgrounds/storage.webp");}
#background.armory{background-image: url("../img/Backgrounds/armory.webp");}
#background.map{background-image: url("../img/Backgrounds/map.webp");}
#background.alchemist{background-image: url("../img/NPCs/Town/alchemist2.webp");}
#background.guild{background-image: url("../img/Backgrounds/guild.webp");}
#background.maidens{
    background: #21AAC2;
    background: radial-gradient(circle, rgba(33, 170, 194, 1) 0%, rgba(0, 141, 166, 1) 34%, rgba(0, 62, 89, 1) 100%);
}
#background.mobs{
    background: #21AAC2;
    background: radial-gradient(circle, rgba(33, 170, 194, 1) 0%, rgba(0, 141, 166, 1) 34%, rgba(0, 62, 89, 1) 100%);
}
#background>#revive{
    display: none;
    position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; transform: translate(-50%, -50%); object-fit: cover;
}
.layer{
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}
#backgroundLabel{
    font-family: 'MedievalSharp', cursive;
    font-style: normal;
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 3px black;
    margin-top: 5vh;
    width: 100vw;
    text-align: center;
}
.icon-btn{
    width: 50px; height: 50px; border: 3px solid white; border-radius: 50%; background-color: transparent;
    font-size: 1.75rem;
    color: white;
    transition: all 0.2s;
}
.icon-btn.hidden{
    transform: translateX(150px);
}
.icon-btn>img{
    width: 90%;
    transition: all 0.3s;
}
.icon-btn:active, .icon-btn:focus{
    border-color: crimson;
}
.icon-btn-text{
    font-size: 0.9rem; color: white; text-shadow: 1px 1px 15px black;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0, 0.5);
    padding: 1px 3px;
}
.buff-icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.buff-icon-wrapper::before {
  content: "";
  position: absolute;
  width: 1%;   /* same size as icon */
  height: 1%;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px rgb(6 255 0); /* aura glow */
  z-index: 0;
  animation: pulse 0.5s ease-in-out infinite alternate;
}
.buff-icon-wrapper img {
  position: relative;
  z-index: 1;
  width: 30px;
}
.toggle-preview-section-container{
    font-size: 9pt;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    padding: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* TOWN MENU */
    #townMenuLeft{
        margin-left: -100%;
        transition: all 0.3s;
    }
    #townMenuLeft.visible{
        margin-left: 0%;
        transition: all 0.3s;
    }
    #townMenuRight{
        margin-right: -100%;
        transition: all 0.3s;
    }
    #townMenuRight.visible{
        margin-right: 0%;
        transition: all 0.3s;
    }
    #townMenuBottom{
        margin-bottom: -100%;
        transition: all 0.3s;
    }
    #townMenuBottom.visible{
        margin-bottom: 0%;
        transition: all 0.3s;
    }
/* TOWN MENU */

/* SOUL MENU */
    .stat-btn{
        color: white;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 5px;
        font-weight: bolder;
    }
    .stat-btn:active{
        border-color: red;
        color: red;
    }
/* SOUL MENU */

/* EQUIPMENT MENU */
    .equipment-slot{
        transition: all 0.1s;
    }
    .equipment-slot:hover, .equipment-slot:active{
        box-shadow: 0px 0px 40px 20px inset rgba(255, 0, 0, 0.5);
    }
    .equipment-slot, #eqpPreviewPanel, #refinerPreviewPanel{
        box-shadow: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #eqpPreviewPanel, #refinerPreviewPanel{
        background-size: contain;
        background-position: top;
        background-color: black;
    }
    .eqp-top-tag{
        margin-top: -10px;
        margin-right: -5px;
    }
    .eqp-list-toggle{
        width: 70px;
        height: 70px;
    }
/* EQUIPMENT MENU */

/* MAP MENU */
    #mapMenuDungeonList, #mapMenuFloorList{
        max-height: 50vh;
        overflow-y: auto;
    }
    .map-menu-btn{
        background-color: transparent;
        border-color: #EEEEEE;
        color: #EEEEEE;
    }
    #mapBtn{
        width: 70px; height: 70px;
    }
    #mapBtn>img{
        animation: pulse 0.5s ease-in-out infinite alternate;
    }
/* MAP MENU */

/* GUILD MENU */
    .npc-portrait{
        width: 25vw;
        height: 35vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .npc-portrait-name {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        color: white;
        text-shadow: 1px 1px 15px black;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1px 3px;
        position: absolute;
        bottom: 0;
    }
/* GUILD MENU */
    #guildContainer{
        overflow-x: auto;
    }
    #refinerPreviewPanel{
        background-size: cover;
        background-position: top;
        background-color: black;
    }
    #refinerBonusContainer{
        top: 0;
        left: 0;
        z-index: 1046;
    }
    #refinerBonusContainer>div.pos-a{
        right: 0;
    }
    #refinerBonusContainer>div.pos-a>div.d-flex{
        right: 0;
    }